%h1
  = t('articles')
- cache([@articles, locale: I18n.locale]) do
  #all
    #content
      .container
        .col-sm-12.article-listing
          - @articles.each do |article|
            - cache([article, locale: I18n.locale]) do
              = render article
        = will_paginate @articles