development:
  <<: *default
  database: translator_development
  username: translator
  password:
  host: localhost
  pool: 15

test:
  <<: *default
  database: translator_test
  username: translator
  password:
  host: localhost
  pool: 15