.navbar-phraseapp {
  background: $light_blue;
}

.navbar-phraseapp {
  .navbar-nav {
    li>a {
      color: white;
      &:hover, &:focus {
        background: $dark_blue;
      }
    }
    li.active>a, li.open>a {
      background: $dark_blue;
    }
  }
}