// Header HTML
.navbar.navbar-translator
  .navbar-header
    .navbar-buttons
      %button.navbar-toggle.navbar-light{type: 'button', "data-toggle" => 'collapse', "data-target" => "#navbar_content"}
        %span.sr-only
          Toggle navigation
        %i.fa.fa-align-justify
  .collapse.navbar-collapse#navbar_content
    %ul.nav.navbar-nav.navbar-left
      %li.nav-item.active
        = link_to root_path(locale: I18n.locale), class: 'nav-link' do
          %span.sr-only
            (current)
          = t('articles')

    %ul.nav.navbar-nav.navbar-right
      %li.nav-item.dropdown
        %a.dropdown-toggle.btn{"data-toggle": "dropdown"}
          = t(I18n.locale)
          %span.caret
        %ul.dropdown-menu.navbar-translator
          - I18n.available_locales.each do |lang|
            %li
              = link_to t(lang), root_path(locale: lang)